// Basic Colors
$backgroundcolor:#F1F4F9;
$white:rgba(255,255,255, 1);
$ultradarkgrey:rgba(0, 0, 0, 1);
$darkgrey:rgba(0, 0, 0, .87);
$mediumgrey:rgba(0, 0, 0, .54);
$lightgrey:rgba(0, 0, 0, .32);
$ultralightgrey:rgba(0, 0, 0, .12);
$lightergrey:rgba(0, 0, 0, .06);
$transp:rgba(0,0,0, 0);

$theme-primary: #2687E9;
$theme-font-color: #385A7B;
$theme-borders: #c9d3dd;
$success-color: #4ABA58;
$warning-color: #B44848;
