@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  outline: none !important; }

.default-style-fonts, h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #385A7B;
  margin: 0;
  padding: 0;
  line-height: auto; }

h1 {
  font-size: 1.75em; }

h2 {
  font-size: 1.375em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 1.0em; }

h6 {
  font-size: 0.875em; }

p {
  font-size: 0.825em !important; }

a {
  outline: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54); }
  a:visited {
    color: rgba(0, 0, 0, 0.54); }

body {
  overflow-x: hidden;
  background-color: #f1f4f9;
  height: auto;
  min-height: 100vh; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 799px; }

header {
  background-color: #2687E9; }

md-icon {
  min-width: 8px;
  min-height: 8px; }

.ico16 {
  width: 16px !important;
  height: 16px !important; }

input[type="text"] {
  border-radius: 3px;
  border: solid 1px #c9d3dd;
  font-family: "Open Sans", sans-serif;
  font-size: .75em;
  font-weight: 600;
  color: #385A7B;
  height: 36px;
  padding: 4px;
  text-indent: 4px; }

.list__options {
  margin: 20px 0; }
  .list__options button + button {
    margin-left: 24px; }

.search__input {
  border-radius: 3px 0 0 3px !important; }

.search__button {
  margin: 0;
  width: 40px;
  min-width: 40px;
  padding: 0px;
  background-color: #f1f4f9;
  border: solid 1px #c9d3dd;
  border-left: 0px;
  border-radius: 0 3px 3px 0; }
  .search__button md-icon {
    color: #385A7B; }

.list__create__item {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  padding: 16px;
  margin-bottom: 24px; }
  .list__create__item input {
    margin: 8px !important;
    width: calc(100% - 16px) !important; }
  .list__create__item .btn {
    margin: 8px; }

.list__data__table {
  width: 100%;
  border: solid 1px #c9d3dd;
  font-family: "Open Sans", sans-serif;
  font-size: .75em;
  color: #385A7B; }
  .list__data__table thead {
    background-color: #f8fafc;
    font-weight: 600; }
    .list__data__table thead td {
      padding: 16px 4px; }
  .list__data__table tbody {
    font-weight: 400; }
    .list__data__table tbody tr {
      border: solid 1px #c9d3dd; }
    .list__data__table tbody td {
      padding: 16px 4px; }

/*# sourceMappingURL=main.css.map */
