
// -------------------------------------- Main vars
@import "_normalize";
@import "_colors";
@import "_typography";
// -------------------------------------- Grid
body{
	overflow-x:hidden;
	background-color: $backgroundcolor;
	height:auto;
	min-height: 100vh;
}
.container{
	margin:0 auto;
	width:100%;
	// max-width:1259px;
	max-width:799px;
}
// -------------------------------------- Header
header{
	background-color: $theme-primary;
}
// -------------------------------------- Buttons
.btn{
	font-family:$fontfamily;
	padding: 8px 32px;
	font-size:.85em;
	font-weight:600;
	&.btn-full{
		width:100%;
	}
}
.btn-success{
	background-color: $success-color !important;
	color:$white !important;
}
.btn-danger{
	background-color: $warning-color !important;
	color:$white !important;
}
.btn-full{
width:100%;
}
// -------------------------------------- Icons
md-icon{
  min-width:8px;
  min-height:8px;
}
.ico16{width:16px !important;height:16px !important;}
// -------------------------------------- Inputs
input[type="text"]{
	border-radius:3px ;
	border:solid 1px $theme-borders;
	font-family:$fontfamily;
	font-size:.75em;
	font-weight:600;
	color:$theme-font-color;
	height:36px;
	padding:4px;
	text-indent: 4px;
}
input[type=checkbox]{
  -ms-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
}
// -------------------------------------- Options
.list__options{
	padding:20px 0 12px;;
	input{
		width:100% !important;
	}
	& > div{
		margin-bottom:8px;
	}
}
.list__options__spacer{
	flex:auto;
}
.search__input{
	border-radius:3px 0 0 3px !important;
}
.search__button{
	margin:0;
	width:40px;
	min-width:40px;
	padding:0px;
	background-color: $backgroundcolor;
	border:solid 1px $theme-borders;
	border-left:0px;
	border-radius:0 3px 3px 0;
	md-icon{
		color:$theme-font-color;
	}
}
// -------------------------------------- Add data
.list__create__item{
	background-color:$lightergrey;
	border-radius:3px;
	padding:16px;
	input{
		width:100% !important;
	}
	& .btn{
		margin:8px;
	}
}
// -------------------------------------- Data Table
.list__data__table{
	width:100%;
	border:solid 1px $theme-borders;
	font-family:$fontfamily;
	font-size:.75em;
	color:$theme-font-color;
	td{padding:8px;height:64px;}
	thead{
		background-color:#f8fafc;
		font-weight:600;
		td{padding:8px;}
	}
	tbody{
		font-weight:400;
		td{padding:8px;height:64px;}
		tr{
			background-color:$white ;
			border:solid 1px $theme-borders;
			&:hover{
				background-color:#D8E9FB !important;
				border:solid 1px #8BC8F6 !important;
			}
		}
	}
}
.list__data__img{
	width:64px;
	height: 32px;
	border-radius: 4px;
	background-size: cover;
	background-position:center center;
}
// -------------------------------------- Modal
.modal-body {
    padding: 0 !important;
}
//--------------------------------------- pagination
.pagination {
	a{cursor:pointer;}
}
